.conteiner{
display: inline-block;
width: 400px;
margin: 10px;
}
.news_img{
width: 300px;
height: 200px;
}
.small_text{
font-size: 20px;
}
.text{
font-size:15px;
}
.small_text::after{
    content: '';
    display: block;
    background-color: #1abc9c;
    height: 10px;
    width: 164px;
    margin:auto;
    margin-top:15px;
}