.products{
    margin: auto;
    text-align: center;
    margin-top:111px;
}
.card{
display: inline-block;
margin:10px;
width:300px;
}
.img{
    background-color: gray;
    width: 300px;
    height:300px;
}
.product_name{
display: inline-block;
width: 200px;
height: 25px;
background-color: gray;
font-size: 20px;
}
.product_price{
    display: inline-block;
    font-size: 20px;
    height: 25px;
    width:60px;
    background: gray;
}
.button{
    height:50px;
    width:80px;
}

