.header{
width: 900px;
margin: 0 auto 100px;
padding-top: 75px;
}
.menu-list{
    color:#626262;
    font-family: 'Playfait Display',serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.menu-item {
    display: inline-block;
    margin-right: 120px;
    width: 90px;
}
.menu-item:last-child{
    margin-right:0; 
}
.menu-item:hover {
    color:#03a9f4;
}
.main {
    width: 900px;
    margin:auto;
}
.article{
    width: 400px;
    /* height:200px; */
    display:inline-block;
    margin-right:40px;
    margin-bottom: 0px;
}
.img{
    width:400px;
    height: 300px;
}

